body {
    font-family: 'Karla', sans-serif !important;
}

a {
    color: rgb(0, 182, 239) !important;
}

h1 {
    font-family: 'Karla', sans-serif !important;
}

p {
    font-size: 1.4em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-items, .other-services, .banner-2, .headquarter-section {
    width: 75%;
    margin: 0 auto;
}

.banner {
    height: 40vh;
    background: rgb(0, 182, 239);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    padding: 10rem 0;
    width: 100%;
}

.banner h2 {
    width: 40%;
    font-size: 3.4em;
    padding-bottom: 15px;
    border-bottom: 3px solid #f9ce33;
}

.banner p, .banner h2 {
    text-align: center;
}

.main-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    color: #00b6ef;
    text-align: center;
    font-size: 2em !important;
}

.support-icon {
    font-size: 4.3em !important;
    color: #da2f6b;
}

.box {
    text-align: center;
    padding: 80px 20px;
    margin: 120px 20px;
    width: 50%;
    height: 50vh;
    box-shadow: 2px 4px 10px 3px rgb(192, 191, 191), -2px 4px 10px 3px rgb(173, 171, 171);
}

.more-contacts {
    height: 100%;
    color: #00427C; 
    background: rgb(233, 230, 230);
    width: 100%;
}

.banner-2 {
    padding: 6rem 0;
}

.more-contacts h1, .more-contacts p {
    text-align: center;
}

.more-contacts p {
    font-size: 1.4em;
}
 
.more-contacts h1 {
    font-size: 3.4em !important;
}

.other-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 100px 200px;
    margin: 9 auto;
}

.box-second {
    margin: 0 40px;
    padding: 40px 0;
    width: 35%;
}

.second-box, .highlight {
    justify-content:  space-around;
}

.box-second p, .highlight {
    text-align: left;
}

.divide p {
    font-size: 2.4em;
    margin: 15px;
}

.phone {
    color: #da2f6b;
}

.headquarter-section {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 70%;
}

.headquarter-section img {
    width: 600px;
    height: 400px;
    margin: auto 0 auto 5%;
}

.press-address-section {
    display: flex;
    flex-direction: column;
    margin: auto 0% auto 10%;
}

.press-address {
    padding: 30px 0;
}




